:host {
  display: block;
}

.reservation-form {
  // Estilos adicionales para el formulario

  :host ::ng-deep {
    .p-datepicker {
      width: 100%;
    }

    .p-message {
      width: 100%;
    }
  }
}
